/* APP OVERALL */

.App {
  border: 1px solid lightgrey;
  text-align: center;
}

.content {
  border: 2px solid pink;
  display: flex;
  flex-direction: row;
}

/* HEADER */

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

/* COLLECTIONS */

.collectionsTable {
  width: 66%;
  border: 2px solid grey;
}

table {
  border: 1px solid blue;
}

table th,
table td {
  border: 1px solid red;
}

/* WALLETS */

.allWallets {
  width: 34%;
  border: 2px solid black;
}

.singleWalletWrapper {
  border: 3px solid green;

}