$black: #1E1E21;
$darkgrey: #67676B;
$midgrey: #B0B2B9;
$lightgrey: #E3E3E3;
$hover: #F2F4FA;
$lightbluegrey: #F9FAFE;
$white: #ffffff;
$whitegreyhover: #F2F4FA;
$blue: #4468E9;
$bluehover: #274ED9;
$green: #00A010;
$red: #A00013;

$app-font: 'Cairo', sans-serif;

h1 {
    font-size: 28px;
    line-height: 36px;
}

h3 {
    margin: 0px;
    line-height: 24px;
}

input {
    border: 1px solid $lightgrey;
    border-radius: 0.25em;
    margin: 0px -32px 16px 16px;
    min-height: 2em;
    font-family: $app-font;
    width: 88%;
}