@import './variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900&family=Libre+Barcode+39+Extended+Text&display=swap');
@import './mixins';

/* APP OVERALL */

.App {
  color: $black;
  max-width: 60em;
  margin: auto;
  font-family: $app-font;
}

.content {
  @include container();
}


/* HEADER */

.header {
  @include component-row();
}

.button {
  @include button();
  background-color: $blue;
  border: 0px solid $blue;
}

.button:hover {
  background-color: $bluehover;
  
}