@import './variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900&family=Libre+Barcode+39+Extended+Text&display=swap');
@import './mixins';
@import './breakpoints';

/* APP OVERALL */

.App {
  color: $black;
  max-width: 60em;
  margin: auto;
  font-family: $app-font;
}

.content {

  @include xl {
    @include container()
  }

  @include lg {
    @include container()
  }

  @include md {
    flex-direction: row;
  }

  @include sm {
    flex-direction: row;
  }

  @include xs {
    flex-direction: row;
  }
}

/* HEADER */

.header {
  @include component-row();
  padding: 2%;
}

.slogan {
  padding: 0 4% 0 4%;
}

.logo {
  cursor: pointer;
  padding: 16px;
}

button {
  @include button();
  border: 0px solid $blue;
}

.button {
  @include button();
  border: 0px solid $blue;
}

.loading svg {
  display: flex;
  align-items: center;
  margin: 0px;
  width: 93%;
  padding: 32px;

}
.button:hover {
  box-shadow: 0px 0px 8px rgba(68, 104, 233, 0.2);
}

.button:active {
  background-color: #2649C7;
  box-shadow: 0px 0px 2px rgba(68, 104, 233, 0.2);

}

.connect-wallet {
  @include button($hover-color: $white);
  border: 2px solid $blue;
  color: $blue;
  background-color: $white;
}

.connect-wallet:hover {
  box-shadow: 0px 0px 8px rgba(68, 104, 233, 0.3);
}

.connect-wallet:active{
  background-color: $lightgrey;
}

.footer {
  min-height: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $blue;
  color: $white;
  width: 100%;
  font-weight: 500;

  a:link {
    text-decoration: none;
    color: $white;
    font-weight: 800;
  }

  a:visited {
    text-decoration: none;
    color: $white;
    font-weight: 800;
  }

  a:hover {
    text-decoration: underline;
  }
}

.footerText {
  margin: 0 32px 0 32px;
}
