@import './variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900&family=Libre+Barcode+39+Extended+Text&display=swap');
@import './mixins';
@import './breakpoints';


.collectionsTable {
    @include xl {
        @include component-column();
        @include wrappers;
        width: 63%;
    }

    @include lg {
        @include component-column();
        @include wrappers;
        width: 63%;
    }

    @include md {
        @include component-column();
        @include wrappers;
        min-width: auto;
    }

    @include sm {
        @include component-column();
        @include wrappers;
        min-width: auto;
    }

    @include xs {
        @include component-column();
        @include wrappers;
        min-width: auto;
    }
}

.tableHeader {
    @include component-row();
    padding: 0 1em 0 1em;
}

.tableSubHeader {
    @include component-row();
    border-top: solid 1px $lightgrey;
    background-color: $lightbluegrey;
    color: $darkgrey;
    min-height: 3.5em;
    gap: 16px;

}

.singleCollection {
    width: 60%;
    text-indent: 1em;
}

.singleCollectionSales {
    width: 20%;
}

.singleCollectionContainer {
    @include component-row();
    border-top: solid 1px $lightgrey;
    gap: 16px;

}

.singleCollectionContainer:hover {
    @include hover();
}

.singleCollectionImageNameSupply {
    width: 60%;
    @include component-row();
    justify-content: flex-start;
}

.collectionImage {
    @include img();
}

.topLabel {
    margin-top: 16px;
}

.sales {
    font-weight: bold;
}


.itRaised{
    font-weight: normal;
}

.itWentDown{
    font-weight: normal;
}

.icytwitter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top: solid 1px $lightgrey;
    min-height: 40px;
    a:link {
        text-decoration: none;
        color: $blue;
        font-weight: 800;
      }
      a:visited {
        text-decoration: none;
        color: $blue;
        font-weight: 800;
      }
      a:hover {
        text-decoration: underline;
      }
}