@import './variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900&family=Libre+Barcode+39+Extended+Text&display=swap');
@import './mixins';


/* WALLETS */

.button-secondary {
    @include button();
    border: 1px solid $lightgrey;
    color: $black;
    background-color: $white;
}

.button-secondary:hover {
    background-color: $hover;
}

.allWallets {
    @include wrappers;
    width: 34%;
    border: 1px solid $lightgrey;
    background-color: $lightbluegrey;
    
}

.singleWallet {
    @include component-row();
    border-top: solid 1px $lightgrey;
    padding-right: 1em;
}

.singleWalletImageNameAddress {
    @include component-row()
}

.walletImage {
    @include image();
    border-radius: 50px;
}

.multipleTransactions {
    @include component-column();
}

.multipleTransactions:hover {
    @include hover();
}

.singleTransaction {
    @include component-row();
    border-top: solid 1px $lightgrey;
    padding-right: 1em;
}

.singleCollectionNameStatusLinkDateTop {
    @include component-column();
    width: 100%;
}

.collectionNameTop {
    @include component-row()
}

.collectionNameStatus {
    @include component-column()
}

.collectionStatus {
    @include component-row();
    justify-content: flex-start;
}

.collectionLinkDate {
    @include component-row()
}